<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;700&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <title>Basics</title>
</head>
<body>
    <div class="course_container">
        <div class="description_container">
            <p id="course">Курс</p>
            <h1>Основы права</h1>
            <p align="justify" class="course_description">Значение права в жизни человека и общества огромно. Являясь универсальным регулятором общественных отношений, оно закрепляет основы существующего строя. Устанавливая права и обязанности конкретных лиц, организаций, право вносит определенный порядок в общество и государство, создает предпосылки для их активности и эффективности.</p>
        </div>    
        <a class="exit_btn" routerLink="/home"><button><img src="assets/exit.svg" alt=""></button></a>
        <img src="assets/basics_of_rights.png" alt="">
    </div>
    <div class="course_programm">
        <div class="course_programm_description">
            <h1>Программа</h1>
            <ul class="disciplines_list">
                <li>
                    Теория государства и права
                </li>
                <li>
                    Конституционное и административное право
                </li>
                <li>
                    Трудовое право
                </li>
                <li>
                    Гражданское право и гражданский процесс
                </li>
                <li>
                    Уголовное право и уголовный процесс
                </li>
                <li>
                    Международное право
                </li>
            </ul>
        </div>
        <div class="price">
            <div class="price_block">
                <div class="price_rectangle">
                    <s>7000</s><p class="little_price">руб/мес.</p> <div class="discount_block"><p>-50%</p></div>
                    <div class="new_price_block">
                        <p class="new_price">
                            3500 
                        </p><p class="new_price_per_month">
                            руб/мес.
                        </p>
                    </div>
                </div>
            </div>
            <div class="course_buttons">
                <button class="sign_up" onclick="">Записаться</button>
            </div>
        </div>

    </div>

</body>
</html>